<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
    
  
  <ion-grid>
    <ion-row style="background-color: black">
      
       <ion-col  (click)="detalhes (0)" size="12"  >
         
        <ion-img src="https://image.api.playstation.com/cdn/UP1018/CUSA01764_00/daExAVIqaWz8NNeqTaFW2IcweYzqt4d8.png">Batman</ion-img>
       </ion-col>
    </ion-row>
   
    <ion-row style="background-color: black" >
       <ion-col (click)="detalhes (1)"size="6" size-md="4">

        <ion-img src="https://br.web.img2.acsta.net/medias/nmedia/18/91/98/15/20172684.jpg">Indiana Jones</ion-img>
       </ion-col>
       
      <ion-col (click)="detalhes (2)"size="6"  size-md="4" >
        <ion-img src="https://images.justwatch.com/poster/268682314/s592/jack-reacher-o-ultimo-tiro">jack-reacher-o-ultimo-tiro</ion-img>
      </ion-col>
       
      <ion-col (click)="detalhes (3)"size="6" size-md="4">
        <ion-img src="https://images.justwatch.com/poster/268682314/s592/jack-reacher-o-ultimo-tiro">jack-reacher-o-ultimo-tiro</ion-img>
      </ion-col>
    
      <ion-col (click)="detalhes (4)"size="6"  size-md="4">
        <ion-img src="https://images.justwatch.com/poster/268682314/s592/jack-reacher-o-ultimo-tiro">jack-reacher-o-ultimo-tiro</ion-img>
      </ion-col>
      
      <ion-col (click)="detalhes (4)" size="6" size-md="4">
        <ion-img src="https://images.justwatch.com/poster/268682314/s592/jack-reacher-o-ultimo-tiro">
          jack-reacher-o-ultimo-tiro</ion-img>
      </ion-col>
     
    </ion-row>
  
  </ion-grid>

</ion-content>
