<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
    
  
  <ion-grid style="max-width: 1200px; width: 95%; margin: 0 auto;">
    <ion-row style="background-color: black">
      
       <ion-col  (click)="detalhes (0)" size="12">
         <a [routerLink] = "['/detalhes/0']">
        <ion-img src="https://br.web.img2.acsta.net/medias/nmedia/18/86/95/09/19870442.jpg">Batman</ion-img></a>
       </ion-col>
    </ion-row>
   
    <ion-row style="background-color: black" >
       <ion-col (click)="detalhes (1)"size="6" size-md="4">
        <a [routerLink]="['/detalhes/1']">
        <ion-img src="https://br.web.img2.acsta.net/medias/nmedia/18/91/98/15/20172684.jpg">Indiana Jones</ion-img></a>
       </ion-col>
       
      <ion-col (click)="detalhes (2)"size="6"  size-md="4" >
        <a [routerLink]="['/detalhes/2']">
        <ion-img src="https://images.justwatch.com/poster/268682314/s592/jack-reacher-o-ultimo-tiro">jack-reacher-o-ultimo-tiro</ion-img></a>
      </ion-col>
       
      <ion-col (click)="detalhes (3)"size="6" size-md="4">
        <a [routerLink]="['/detalhes/3']">
        <ion-img src="https://media.filmelier.com/tit/YnUYvk/poster/homem-aranha-sem-volta-para-casa_cfFbnLc.jpeg">Homem aranha</ion-img></a>
      </ion-col>
    
      <ion-col (click)="detalhes (4)"size="6"  size-md="4">
        <a [routerLink]="['/detalhes/4']">
        <ion-img src="https://media.filmelier.com/tit/aDoRXf/poster/shang-chi-e-a-lenda-dos-dez-aneis_ZJEDSWw.jpeg">Shang-Chi</ion-img></a>
      </ion-col>
      
      <ion-col (click)="detalhes (4)" size="6" size-md="4">
        <a [routerLink]="['/detalhes/4']">
        <ion-img src="https://media.filmelier.com/tit/pNSYbN/poster/top-gun-maverick_nqJaK_E.jpeg">Top Gun </ion-img></a>
         
      </ion-col>
      <ion-col (click)="detalhes (4)" size="6" size-md="4">
        <a [routerLink]="['/detalhes/4']">
          <ion-img src="https://media.filmelier.com/tit/3U5LAQ/poster/as-branquelas_yfzW_Gk.jpeg">
            As branquelas</ion-img>
        </a>
      
      </ion-col>
     
    </ion-row>
  
  </ion-grid>

</ion-content>
